body {
 background-image: url("https://images.unsplash.com/photo-1548679847-1d4ff48016c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xlYW4lMjB3YWxscGFwZXJ8ZW58MHx8MHx8&w=1000&q=80");
 background-color: #cccccc;
 background-size: 2000px;
}
#Weiterleitung{
  color: purple;
  text-align: center;
  font-size: 75px;
}
#Info{
  color: orange;
  text-align: center;
  font-size: 40px;
}
